google-auth
google-auth-oauthlib
graphviz
python-crfsuite
ipython
jupyter
Markdown
matplotlib
mpld3
nbconvert
nltk
numpy
pandas
sacremoses
scikit-learn
scipy
spacy
tokenizers
torch
torchvision
transformers
sacrebleu
jupyter
rise